 /*body {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 h1{
    font-size: 2.5rem;
 }
 h2{
    font-size: 2rem;
 }
 h3{
    font-size: 1.75rem;
 }
 h4{
    font-size: 1.5rem;
 }
 h5{
    font-size: 1.25rem;
 }
 h6{
    font-size: 1rem;
 }*/


 /*NAVBAR #1*/
 .nav-1 {
     display: flex;
     top: 0;
     width: 100%;
     height: 3rem;
     background-color: #34495e;
     position: fixed;
     z-index: 1;
     padding-left: 2rem;
     padding-right: 2rem;
     align-items: center;
     z-index: 100;
 }

 .nav-1 a {
     flex-grow: 1;
     text-decoration: none;
     /*text-transform: uppercase;*/
     text-align: center;
     color: white;
     cursor: pointer;
     font-size: 15px;
     height: 90%;
     /*transition: ease-in-out .3s;*/
     display: flex;
     flex-direction: column;
     justify-content: center;
     /*margin:auto;
    height:auto; */
 }

 .nav-1 a:hover {
     border-bottom: 3px solid #1abc9c;
     font-weight: bold;
     transition: ease-in-out .1s;
 }

 .nav-1 a.active {
     font-weight: bold;
     background-color: #1abc9c;
     border-radius: 10px;
     transition: ease-in-out .3s;
 }

 /*FIN NAVBAR #1*/

 /*INICIO*/
 section {
     margin-top: 30px;
     margin-bottom: 30px;
     scroll-margin-top: 60px;
     text-align: center;
 }

 section>h1 {
     font-size: 2.25rem;
     font-weight: 605;
     font-family: 'Onest', sans-serif;
 }

 .line {
     /*color: #2E9AFE;*/
     color: red;
     width: 75%;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: auto;
     margin-right: auto;
 }

 #home {
     display: flex;
     background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../img/background-image2.jpg') no-repeat;
     height: 80vh;
     background-size: cover;
     position: relative;
     background-attachment: fixed;
     background-position: 50%;
 }

 .homeContainer {
     width: 100%;
     align-content: center;
     margin-left: 1rem;
 }

 .homeContainer h1,
 .homeContainer p {
     font-weight: bold;
     font-family: 'Courier New', Courier, monospace;
     color: #ffffff;
     /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
 }

 .homeContainer h1 {
     font-size: 40px;
 }

 .homeContainer p {
     font-size: 20px;
 }

 .my-name {
     color: #1abc9c;
 }

 /*FIN INICIO*/

 /*ABOUT ME*/
 .aboutContainer {
     width: 70%;
     margin-top: 10px;
     display: inline-block;
     vertical-align: middle;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 18px;
 }

 .aboutContainer p {
     font-size: 15px;
 }

 .about-description {
     text-align: center;
     font-size: 16px;
 }

 /*FIN ABOUT ME*/

 /*SKILLS*/
 .skillsContainer {
     width: 50%;
     display: flex;
     flex-wrap: wrap;
     margin-left: auto;
     margin-right: auto;
 }

 .icons-all-skills {
     display: inline-flex;
     flex-wrap: wrap;
     gap: 100px;
     justify-content: center;
     align-items: center;
 }

 .skill-icon {
     justify-content: center;
 }

 .skill-icon:hover {
     -ms-transform: scale(1.2);
     /* IE 9 */
     -webkit-transform: scale(1.2);
     /* Safari 3-8 */
     transform: scale(1.2);
     transition: transform .3s;
     text-shadow: 1px 1px 2px black, 0 0 25px blue;
 }

 .font-skill {
     font-weight: 600;
     margin: 0;
 }

 /*FIN SKILLS*/

 /*WORK EXPERIENCE*/
 #work-experience {
     width: 100%;
 }

 .workContainer {
     width: 50%;
     display: inline-block;
     vertical-align: middle;
 }

 .work {
     background-color: #34495e;
     padding: 15px 0 15px 0;
     margin: 10px 0 10px 0;

 }

 .work h5 {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: #1abc9c;
     font-weight: bold;
     font-size: 20px;

 }

 .work h6 {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 15px;
     color: #BDBDBD;
 }


 .work-description {
     text-align: justify;
     color: #ffffff;
     margin: 15px 10px 15px 10px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 16px;
 }

 .work-skill-container {
     display: flex;
     flex-flow: row wrap;
     /*justify-content: space-around;*/
     height: 100%;
 }

 .work-skill {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 2rem;
     border: 1px solid #ffffff;
     border-radius: 5px;
     padding: 0 10px 0 10px;
     background: rgba(51, 170, 51, .1);
     margin: 4px;
 }

 .work-skill p {
     margin: 0;
 }

 .work-skill img {
     min-height: auto;
     width: 1.5rem;
 }

 /*FIN WORK EXPERIENCE*/

 /*MY PROJECTS*/
 input[type=radio] {
     display: none;
 }

 .projectsContainer {
     width: 100%;
     transform-style: preserve-3d;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }

 .carousel-container {
     display: flex;
     position: relative;
     width: 100%;
     height: 60vh;
     transform-style: preserve-3d;
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }

 .item-carousel {
     margin: 0 15px;
     width: 15rem;
     height: 20rem;
     display: -webkit-flex;
     align-items: flex-end;
     -webkit-align-items: flex-end;
     background: #343434 no-repeat center center / cover;
     border-radius: 16px;
     overflow: hidden;
     transition: all 0.4s ease-in-out;
     -webkit-transition: all 0.4s ease-in-out;
     cursor: pointer;
     position: absolute;
 }

 .item-carousel:hover {
     width: 20rem;
     box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
     -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
 }

 .item-carousel:after {
     content: "";
     display: block;
     position: absolute;
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
 }

 .item-desc {
     padding: 0 24px 12px;
     position: relative;
     z-index: 1;
     text-align: justify;
     transform: translateY(calc(100% - 38px));
     color: #ffffff;
 }

 .item-desc p {
     opacity: 0;
     transition: all 0.4s ease-in-out 0.2s;
     -webkit-transition: all 0.4s ease-in-out 0.2s;
 }

 .item-desc:hover {
     transform: none;
     -webkit-transform: none;
     transform: translateY(0);
     -webkit-transform: translateY(0);
 }

 .item-carousel:hover .item-desc {
     -webkit-transform: translateY(0);
     transform: translateY(0);
     transition: all 0.4s ease-in-out 0.2s;
     -webkit-transition: all 0.4s ease-in-out 0.2s;
 }

 .item-carousel .item-desc p {
     opacity: 0;
 }

 .item-carousel:hover .item-desc p {
     opacity: 1;
 }

 .item-1 {
     background-image: url('../img/pokemon-preview.png');
 }

 #item-1:checked~.carousel-container #project-3,
 #item-2:checked~.carousel-container #project-1,
 #item-3:checked~.carousel-container #project-2 {
     transform: translatex(-80%) scale(.8);
     opacity: .4;
     z-index: 0;
 }

 #item-1:checked~.carousel-container #project-2,
 #item-2:checked~.carousel-container #project-3,
 #item-3:checked~.carousel-container #project-1 {
     transform: translatex(80%) scale(.8);
     opacity: .4;
     z-index: 0;
 }

 #item-1:checked~.carousel-container #project-1,
 #item-2:checked~.carousel-container #project-2,
 #item-3:checked~.carousel-container #project-3 {
     transform: translatex(0) scale(1);
     opacity: 1;
     z-index: 1;

     img {
         box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
     }
 }

 /*FIN MY PROJECTS*/



 /*IMAGENES*/
 .img-photo {
     width: 100%;
     height: auto;
     border-radius: 50%;
 }

 .border-around-img{
     filter: drop-shadow(1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 -1px 0 white);
 }

 

 /*FIN IMAGENES*/


 .image-background {
     /*background-image: url("../img/wallpaper.jpg");*/
     background-color: #ffffff;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(214,683,328)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230FA0FF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='467' height='389.2' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
     background-attachment: fixed;
     background-size: cover;
     /*background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
 }

 .image-background::before {
     opacity: 0.75;
 }

 .contactConatiner {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     width: 100%;
 }

 i {
     color: black;
     margin-right: 10px;
 }

 .footer {
     background-color: #BDBDBD;
 }

 .footer p {
     color: black;
     margin: auto;
 }

 .a-contact {
     text-decoration: none;
     color: black;
     font-size: 20px;
     font-weight: 600;
 }

 .a-contact:hover {
     text-decoration: none;
 }




 .flex-container {
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: space-around;
     margin: 3%;
 }

 .contac-hover {
     transition: transform .3s;
 }

 .contac-hover:hover {
     /*text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
     text-shadow: 1px 1px 2px black, 0 0 25px blue;
     -ms-transform: scale(1.2);
     /* IE 9 */
     -webkit-transform: scale(1.2);
     /* Safari 3-8 */
     transform: scale(1.2);
     z-index: 1000;
 }